*{
    
    margin:0;
    padding:0;

}

@font-face {

    font-family:strongyoung;
    src: url('/fonts/StrongYoung.ttf');

}
::-webkit-scrollbar{

    display: none;

}
html,body{

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;

}


.navigation_bar ul{
    
    list-style-type: none;
    height: 5vh;
    overflow: hidden;
   
}
.navigation_bar a{

    font-size: 16px;
    color: #000000;
    text-decoration: none;
    margin-right: 25px;
    padding: 5px;
    display:block;
    text-align: center;

}
.navigation_bar a:hover{

    background-color: rgb(62, 67, 71);
    border-radius: 5%;

}
.navigation_bar li{

    float:left;

}

#section1{
   
    height: 100%;
    width: 100%;
    
}

.backgorund_image{
    background-size: auto;
}

.image_container{
    height: 95%;
    width: 100%;
    object-fit: cover;

}


.image_container img{
    width: 100%;
    height: 100%;
}

#section2{
    font-family:strongyoung;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: chocolate;
}

.heading h1{
    font-family:strongyoung;
}




#section3{

    height: 100%;
    width: 100%;
    text-align: center;
    background-color: aqua;
}

#section4{

    height: 100%;
    width: 100%;
    text-align: center;
    background-color: bisque;
   
}

.return_to_top{

    font-weight: 100;        
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 1000%);
    transform: translate(-50%, 1000%);
    border-radius: 30%;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background:#fff;
    border: 1.4px solid#000000;
    display: flex;
    justify-content: center;
    align-items: center;

}

#contactandmoreinfo{
    text-align: center;
    height:50% ;
    width: 100%;
    background-color: burlywood;

}